header{
    padding: 20px 80px;
}

ul {
    list-style-type: none;
}

.card-marketing{
    padding: 20px 50px;
}

.item-matcha-circle{
    width: 250px;
    border-radius: 300px;
    background-color: #025157;
}

.btnIntegrations{
    color: #ffffff;
    background-color: #025157;
}

.title-Marketing{
    text-align: center;
    color: #025157;
}

.container-getStarted{
    margin: 10px;
    padding: 60px;
    border-radius: 10px;
    background-color: #025157;
}

.txtNavbar, .nav-link, .nav-item{
    color: #025157;
}

.btnGetStartedSecond{
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #67B54B;
    color: #ffffff;
}

.btnGetStarted{
    width: auto;
    color: #ffffff;
    background-color: #025157;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: bold;
}